@inherits LayoutComponentBase

<div class="page @themeClass">
    <header>
        <div class="navbar">
            <div class="site-title">Dyviksudds Bastuflotte</div>
            <button class="theme-toggle" @onclick="ToggleTheme">
                @(isDarkMode ? "Light mode" : "Dark mode")
            </button>
        </div>
    </header>

    <main class="content px-3">
        @Body
    </main>

    <footer>
        <p>© <a href="https://mymh.dev" target="_blank">mymh.dev</a></p>
        <p>Bastuflotte driven by <a href="https://www.dyviksudd.se/" target="_blank">dyviksudd.se</a></p>
    </footer>
</div>

@code {
    private bool isDarkMode = false;
    private string themeClass => isDarkMode ? "dark" : "light";

    private void ToggleTheme()
    {
        isDarkMode = !isDarkMode;
    }
}