@inherits LayoutComponentBase

<div class="layout-container @ThemeClass">
    <header class="header">
        <NavMenu />
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer class="footer">
        <p>
            © 2025 Webbsida av <a href="https://mymh.dev">mymh.dev</a><br />
            Bastuflotten och detta bokningssystem tillhör <a href="https://dyviksudd.se">dyviksudd.se</a>
        </p>
    </footer>
</div>

@code {
    private bool IsDarkMode = false;

    private string ThemeClass => IsDarkMode ? "dark-mode" : "light-mode";

    protected override async Task OnInitializedAsync()
    {
        var theme = await JS.InvokeAsync<string>("localStorage.getItem", "theme");
        if (theme == "dark")
        {
            IsDarkMode = true;
        }
    }

    private async Task ToggleTheme()
    {
        IsDarkMode = !IsDarkMode;
        await JS.InvokeVoidAsync("localStorage.setItem", "theme", IsDarkMode ? "dark" : "light");
    }

    [Inject] private IJSRuntime JS { get; set; } = default!;
}