<nav class="nav-menu">
    <div class="nav-container">
        <a href="https://mymh.dev" class="nav-link">mymh.dev</a>
        <NavLink href="calendar" class="nav-link" Match="NavLinkMatch.All">Kalender</NavLink>
        <NavLink href="login" class="nav-link" Match="NavLinkMatch.All">Logga in</NavLink>
    </div>
</nav>

@code {
}