@inject NavigationManager Navigation

<nav class="nav-menu">
    <div class="nav-container">
        <a href="https://mymh.dev" class="nav-link">mymh.dev</a>
        <a href="/calendar" class="nav-link">Kalender</a>
        <a href="/login" class="nav-link">Logga in</a>
    </div>
</nav>

@code {
}