@inject NavigationManager Navigation

<nav class="nav-menu">
    <div class="nav-container">
        <a href="/" class="nav-link">Start</a>
        <a NavLink href="login" class="nav-link">Logga in</a>
    </div>
</nav>

@code {
}