.nav-menu {
    background-color: transparent;
    padding: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.nav-link, .nav-button, .nav-user {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-button {
    border: 1px solid white;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    background: transparent;
}