<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Dyviksudds bastuflotte</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Det verkar som det tyvärr inte finns något innehåll på denna sida.</p>
        </LayoutView>
    </NotFound>
</Router>