@page "/dashboard"
@using SaunaBooking.Client.Services
@inject UserSessionService Session
@inject NavigationManager Navigation

<h1>Användarsida</h1>

<p>Välkommen till din användarsida!</p>

@if (!string.IsNullOrEmpty(Session.Username))
{
    <div class="nav-center mb-2">
        <span class="nav-user">Inloggad som: @Session.Username</span>
    </div>
    <div class="nav-center mt-4 space-x-4">
        <NavLink href="calendar" class="nav-link uppercase">KALENDER</NavLink>
        <NavLink href="dashboard" class="nav-link uppercase">MINA SIDOR</NavLink>
    </div>
    @if (Session.Role == "admin")
    {
        <NavLink href="admin/users" class="nav-link uppercase" Match="NavLinkMatch.All">ANVÄNDARE</NavLink>
    }
    <br><br>
    <div class="nav-center">
        <button class="nav-button" @onclick="Logout">Logga ut</button>
    </div>
}

@code {
    private void Logout()
    {
        Session.Logout();
        Navigation.NavigateTo("/sauna/calendar");
    }
}